<%- include('partials/header') %>
    <div class="form-container">
        <h1>Signup</h1>
        <form action="/signup" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
    </div>
<%- include('partials/footer') %>
